body {
    width: 450px;
    margin: 0 auto;
    color: #393d41;
    font-size: 1.2rem;
    font-family: "Open Sans", sans-serif;
    line-height: 1.65;
    /* Attiva il  bordo solo per visualizzare
     meglio il padding laterale sugli article 
    border: 1px solid; */
}

header {
    width: 100%;
    background-color: black;
    padding: 20px;
    box-sizing: border-box;
}
#logo {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}
#logo img {
    width: 100%;
}

#first-section {
    background-color: antiquewhite;
    background-image: url(../images/banner.jpg);
    background-size: cover;

}
section, aside, footer {
    width: 100%;
    padding: 35px;
    box-sizing: border-box;
}
aside {
    background-color: #e22d0e;
    color: white;
}
article {
    margin: 30px 0;
    border: 1px solid;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-color: #dee1e3;
}
article img {
    width: 100%;
}
footer {
    background-color: #25a2c3;
    color: #c8e7f0;
}

footer hr {
   width: 50%;
   margin-bottom: 30px;
}
footer div {
    margin: 20px 0;
}
footer p {
    margin: 0;
}
footer a {
    color: #c8e7f0;
}
footer i {
    color:white
}
p {
    text-align: center;
    margin: 20px 0 40px 0;
}
h1,h2,h3 {
    color: #25a2c3;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
    margin-top: 20px;
    font-weight: 700;
}
h1 {
    font-size: 2.5rem;   
    line-height: 1;
    width: 60%;
    margin-left: auto;
    margin-right: auto; 
}
h2 {
    color: white;
    font-size: 2rem;   
}
button {
    background-color: #f04c2f;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    width: 100%;
    height: 50px;
}
#first-section div {
    margin-left: auto;
    margin-right: auto;
    width: 150px;
}
#middle-img img {
 border-radius: 50%;
 width: 100%;
 padding: 10px;
 box-sizing: border-box;
}
#p-italic {
    font-style: italic;
}
#author {
    font-size: 1.5rem;
    margin-bottom: 0;
}
#author-ref  {
    font-size: 1rem;
    margin-top: 0;
}


